.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.scroll-top-button {
  background-color: #0e266e;
  border: 1px solid #687fb5;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.scroll-top-button:hover {
  box-shadow: 0 0 15px #fff;
}
