.imgCircle {
  border-radius: 50%;
  display: flex;
  margin-top: 12rem;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 5px solid gray;
}

.contact-container {
  width: 20rem; 
  padding: 10rem;
  display: flex; margin-top: 10rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
  
.contact {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}