#map {
  height: 220px;
  width: 250%;
  right: 0;
  border-radius: 20px;
}

.map-show {
  transition: 0.5s ease;
}

.find-maps{
  color: #ffffff !important ;
  font-size:medium;
  font-style: italic;
  font-family: "Roboto Slab", serif;
}
