.snackbar-container {
  width: 35%;
  min-height: 5rem;
  max-height: 10rem;
  border-radius: 5px;
  position: fixed;
  align-items: center;
  padding: 0rem 2rem;
  transition: 0.3s ease;
  z-index: 400;
  margin-left: 25%;
  opacity: 0.9;
  display: flex;
  bottom: 0;
  z-index: 99999999;
  background-color: green;
}


.snackbar-message {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  color: white;
  margin: 0;
  width: 90%;
  max-height: 8rem;
}

.snackbar-icon {
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 400;
}