.about-bar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.about-title {
  color: #bdb8b8 !important ;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-description {
  color: #ffffff ;
  font-size:medium;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.about-maps {
  width: 200px;
  margin-right: 25%;
  height: 200px;
}

.about-logo{
  border: 2px solid white;
  width: 280px;
  height: 100px;
  margin-top: 80px;
}