/* styles.css */

.panier-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    color: black;
  }
  
  .element-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: black;
    margin-left: -30px;
  }
  
  .element {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #0a1e79;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    color: black;
  }
  
  .element img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .element-info {
    flex-grow: 1;
  }
  
  .element h2 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: black;
  }
  
  .element p {
    margin: 0;
    font-size: 1rem;
    color: #888;
    color: black;

  }

  .element-value {
    margin-left: 10px;
    font-size: large;
    font-weight: 700;
  }

  .delete-item :hover {
  color: red;
  }
  
  .total-amount {
    border: 2px solid gray;
    padding-left:1rem;
    padding-right:1rem;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 55px;
    margin-left: -25px;
  }