@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
.home-picture {
  width: 25rem;
  border: 3px solid rgba(255, 255, 255, 0.699);
  border-radius: 1rem;
}

.home-text {
  font-family: "Roboto Slab", serif;
  font-size: 2rem !important;
  color: #66fcf1;
}

.home-text1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem !important;
}

.home-text2 {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 4rem !important;
  font-weight: bold;
}

.job-title {
  font-family: "Roboto Slab", serif;
  background-color: #308675;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  border: 3px;
  box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: fit-content;
  padding: 1rem;
  font-size: large;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-right {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(20px);
  }
}

.home-desc {
  margin-left: 3rem;
  color: rgb(187, 185, 185);
  font-size: 2rem;
}
