@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
.header-bar-toolbar {
  z-index: 99999;
  position: fixed;
  top: 0;
  background-color: #687fb5;
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.moving-text {
  animation: slide 13s linear infinite;
  font-family: "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #242323e5;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.603);
}

@keyframes slide {
  0% {
    transform: translateX(450%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header-toolbar {
  top: 2rem;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 9999;
  // height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    1000px at 90% -21.8%,
    #ffffff 0.2%,
    #c1d9fd 100.2%
  );
  // background-color: #c1d9fd;
}

.header-toolbar2 {
  top: 0rem;
  position: fixed;
  width: 100%;
  // height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: #000000;
  font-family: "Lobster", cursive;
  display: flex;
  align-items: flex-start;
  letter-spacing: 3px;
  padding-left: 3rem;
}

.header-titles {
  position: top;
  display: flex;
  align-items: center;
  padding-right: 3rem;
  cursor: pointer;
}

.header-titles-text {
  color: #000000;
  padding: 1rem;
  margin-right: 15px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 10px 10px 14px #0e266e;
}

.header-titles-text a {
  color: #000000;
  padding: 1rem;
  margin-right: 15px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none; /* Remove underline */
}

.header-titles-text a:hover {
  color: #040c24;
  // background-color: #0e266e;
  height: -25px;
  font-size: 23px;
  transform: translateY(-3px);
}
.header-titles-text:hover {
  color: #040c24;
  // background-color: #0e266e;
  height: -25px;
  font-size: 23px;
  transform: translateY(-3px);
  // border-radius: 10rem 10rem 10rem 2rem;
}

.header-titles-text:focus {
  border-color: red;
  border-radius: 1rem;
}

.close-header-bar {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  height: 4%;
}
.choices {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: medium;
}

.logo {
  max-width: 400px;
  max-height: 100px;
  margin-left: -50px;
  cursor: pointer;
}

.logo:hover {
  transform: translateX(17px);
}
