@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 250px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: black;
}

.card img {
  width: 230px;
  height: 280px;
}

.card .brand {
  font-family: "Roboto Slab", serif;
  color: #333;
  // font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-right: 20px;
}

.card .price {
  font-family: "Roboto Slab", serif;
  color: #007bff;
  margin-left: 20px;
  font-size: 0.7em;
  margin-top: 10px;
}
.add-to-cart-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 18px;
  border-radius: 4px;
  padding: 05px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 300px;
}

.add-to-cart-btn:hover {
  background-color: #0fb300;
  transform: translateX(-25px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align cards in the center horizontally */
  gap: 20px; /* Add some space between cards */
}