.video-container {
  margin-top: -200px; /* Center the container horizontally */
  max-width: 1200px; /* Set a maximum width for the video */
  border: 2px solid rgb(6, 6, 139); /* Add a border */
  padding: 10px; /* Add some padding */
}