.Box1 {
  position: relative;
  background-color: #ffffff;
  border:2px solid ;
  border-color: #000000;
  border-radius: 8px;
  width: 1500px;
  margin-top: 60px ;
  min-height: 500px;
  box-shadow: 0 20px 20px 20px rgba(219, 219, 219, 0.986);
}

.Box2 {
  background-color: #000000c7;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  margin: 0 auto;
  height: 200px;
}
.Box3 {
  background-color: #000000c7;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  margin: 0 auto;
  height: 200px;
}
