@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.title-card-container-SC {
  width: 300px;
  margin-left: -22px;
  background-color: #687fb5;
  border-radius: 5px;
  align-items: center;
}

.title-card-container {
  width: 1300px;
  background-color: #0e266e;
  border-radius: 5px;
  align-items: center;
  margin-top: 50px;
  height: 40px;
}

.title-card-text {
  color: rgb(233, 233, 233);
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -0px;
  font-size: 30px ;
}
